@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);

$border-color: #73BFB5;

html, body {
  overflow: hidden;
  background-color: #bf737d;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 300px;
  height: 425px;
  border: 10px solid $border-color;
  margin: 50px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0,0,0,0.1);
  background-color: rgb(230, 240, 230);
}

.card .text-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.strikethrough {
  text-decoration: line-through;
}

.card .text-container #head {
  font-family: 'Nobile', sans-serif;
  font-size: 1.5em;
  margin: 60px auto 60px auto;
}

.card p {
  font-size: 1.1em;
  line-height: 1.4;
  font-family: 'Nobile';
  color: #331717;
  font-style: italic;
  text-align: center;
  margin: 30px auto 0px auto;
}

.card .front { 
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid $border-color;
  backface-visibility: hidden;
  background-color: rgb(115, 163, 191);
  /* background-image: url($cover-image); */
  background-size: contain;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: rgb(115-50, 163-50, 191-50);
}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.3), inset 2px 0px 15px 0px rgba(0,0,0,0.1);
  background-color: rgb(210, 220, 210);
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid $border-color;
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: rgb(230, 240, 230);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
}

.cover-shape-large {
  position: absolute;
  width: 65%;
  height: 48%;
  top: 25%;
  left: 18%;
  /* transform: rotateZ(45deg); */
}

.cover-shape-large .shape-block, .cover-shape-large .shape-diamond {
  background-color: #73bf8f;
}

.cover-shape-small {
  position: absolute;
  width: 50%;
  height: 36%;
  top: 30%;
  left: 25%;
}

.shape-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

#shape-image {
  background-image: url('http://freedesignfile.com/upload/2013/02/Birthday-cake-vector-4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shape-diamond {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  transform: rotateZ(45deg);
}

/* cake animation stuff from: https://codepen.io/WithAnEs/pen/OVZRvg
   not created by me! It's by Mark Thomes.
*/
$vanilla: #f0e4d0;
$chocolate: #553c13;
$size: 0.4;

@mixin foodColoring($color) {
    background-color: $color;
    box-shadow:
        0 2px 0px lighten($color, 5%),
        0 4px 0px darken($color, 8.2%),
        0 6px 0px darken($color, 8.4%),
        0 8px 0px darken($color, 8.6%),
        0 10px 0px darken($color, 8.8%),
        0 12px 0px darken($color, 9%),
        0 14px 0px darken($color, 9.2%),
        0 16px 0px darken($color, 9.4%),
        0 18px 0px darken($color, 9.6%),
        0 20px 0px darken($color, 9.8%),
        0 22px 0px darken($color, 10%),
        0 24px 0px darken($color, 10.2%),
        0 26px 0px darken($color, 10.4%),
        0 28px 0px darken($color, 10.6%),
        0 30px 0px darken($color, 10.8%);
}

.cake {
    position: absolute;
    width: 250px*$size;
    height: 200px*$size;
    top: 45%;
    left: 50%;
    margin-top: -70px*$size;
    margin-left: -125px*$size;
}

.cake > * {
    position: absolute;
    /* backface-visibility: hidden; */
}

.layer {
    position: absolute;
    display: block;
    width: 250px*$size;
    height: 100px*$size;
    border-radius: 50%;
    @include foodColoring($chocolate);
}

.layer-top { top: 0px; }
.layer-middle { top: 33px*$size; }
.layer-bottom { top: 66px*$size; }

.icing {
    top: 2px*$size;
    left: 5px*$size;
    background-color: $vanilla;
    width: 240px*$size;
    height: 90px*$size;
    border-radius: 50%;
    &:before {
        content: "";
        position: absolute;
        top: 4px;
        right: 5px;
        bottom: 6px;
        left: 5px;
        background-color: lighten($vanilla, 3%);
        box-shadow:
            0 0 4px lighten($vanilla, 5%),
            0 0 4px lighten($vanilla, 5%),
            0 0 4px lighten($vanilla, 5%);
        border-radius: 50%;
        /* z-index: 1; */
    }
}

.drip {
    display: block;
    width: 50px*$size;
    height: 60px*$size;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $vanilla;
}

.drip1 {
    top: 55px*$size;
    left: 5px*$size;
    transform: skewY(15deg);
    height: 48px*$size;
    width: 40px*$size;
}

.drip2 {
    top: 75px*$size;
    left: 181px*$size;
    transform: skewY(-15deg);
}

.drip3 {
    top: 84px*$size;
    left: 90px*$size;
    width: 80px*$size;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.candle {
    background-color: #bf737d;
    width: 16px*$size;
    height: 50px*$size;
    border-radius: 8px / 4px;
    top: -20px*$size;
    left: 50%;
    margin-left: -8px*$size;
    /* z-index: 10; */
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 16px*$size;
        height: 8px*$size;
        border-radius: 50%;
        background-color: lighten(#bf737d, 10%);
    }
}

.flame {
    position: absolute;
    background-color: orange;
    width: 15px*$size;
    height: 35px*$size;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -34px*$size;
    left: 50%;
    margin-left: -7.5px*$size;
    /* z-index: 10; */
    box-shadow:
        0 0 10px rgba(orange, 0.5),
        0 0 20px rgba(orange, 0.5),
        0 0 60px rgba(orange, 0.5),
        0 0 80px rgba(orange, 0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out infinite;
}

@keyframes flicker {
    0% {
        /* transform: rotateZ(5deg); */
        box-shadow: 
            0 0 10px rgba(orange, 0.2),
            0 0 20px rgba(orange, 0.2),
            0 0 60px rgba(orange, 0.2),
            0 0 80px rgba(orange, 0.2) }
    25% {
        /* transform: rotateZ(-5deg); */
        box-shadow:
            0 0 10px rgba(orange, 0.5),
            0 0 20px rgba(orange, 0.5),
            0 0 60px rgba(orange, 0.5),
            0 0 80px rgba(orange, 0.5) }
    50% {
        /* transform: rotateZ(10deg); */
        box-shadow:
            0 0 10px rgba(orange, 0.3),
            0 0 20px rgba(orange, 0.3),
            0 0 60px rgba(orange, 0.3),
            0 0 80px rgba(orange, 0.3) }
    75% {
        /* transform: rotateZ(-10deg); */
        box-shadow:
            0 0 10px rgba(orange, 0.4),
            0 0 20px rgba(orange, 0.4),
            0 0 60px rgba(orange, 0.4),
            0 0 80px rgba(orange, 0.4) }
    100% {
        /* transform: rotateZ(5deg); */
        box-shadow:
            0 0 10px rgba(orange, 0.5),
            0 0 20px rgba(orange, 0.5),
            0 0 60px rgba(orange, 0.5),
            0 0 80px rgba(orange, 0.5) }
}